hr{
	border: 1px solid grey;
}
table {
	margin-left: 5%;
	border-collapse: collapse;
	text-align: center;
}
table, td, th {
  border: 2px solid;
}

a{
	color:grey;
}
body{
  margin-left: 20%;
  margin-right: 20%;
}

